@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.light-mode {
  filter: invert(1) hue-rotate(180deg);
}

.light-mode img {
  filter: invert(1) hue-rotate(180deg);
}
@page {
  margin: 0;
}

@media print {
  body * {
    visibility: hidden;
  }
  #ticket-imprimir,
  #ticket-imprimir * {
    visibility: visible;
  }
  #ticket-imprimir {
    position: absolute;
    left: 0;
    top: 0;
  }
}